body {
    margin: 0;
    background: #030303;
    color: white;
    font-family: Arial;
    overflow: hidden;
}

/* MENU */
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    font-size: 65px;
    color: #00faff;
    text-shadow: 0 0 40px #00faff;
}

.tag {
    opacity: 0.7;
    margin-bottom: 20px;
}

button {
    padding: 12px 30px;
    margin: 10px;
    border: none;
    background: #00faff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: white;
}

/* GAME */
#canvas {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

/* HUD */
#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 15px;
    font-size: 18px;
}

#quit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
}

.hidden {
    display: none;
}